/* .greeting{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    color: #95C11F;
    font-family: 'Poppins', sans-serif;
} */

.itemList{
    background-image: url(../../assets/img_itemlistcontainer/BANDA.png);
}

.itemList__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 315px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}