.homeView{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-top: 100px;
    margin: 30px;
    color: #676767;
}

.homeView__maintitle{
    font-size: 31px;
    color: #333333;
    font-weight: 700;
}

.homeView__container{
    color: #676767;
    margin: 20px;
}

.homeView__title{
    color: #A2C037 ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.homeView__description{
    font-weight: 300;
    font-size: 16px;
}

.homeView__slogan{
    font-weight: bold;
    color: #A2C037;
}

.homeView__photo{
    width: 100%;
}


