
.homeView__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 345px;
    text-align: center;
    color: #FFFFFF;
    background-color: #A2C037 ;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.homeView__photo{
    width: 100%;
}


